@model lab_biblioteca.Models.Emprestimo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRequisicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRequisicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLivroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLivroNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
